@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$cyan: #26c6da;
$black: #0a0a0a;

$col-width: 100px;
$ship-width: 90px;
$ship-height: 50px;

@mixin base-ship {
    background: $cyan;
    border: 0;
    height: $ship-height;
    width: $ship-width;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
}

body {
    background: $black;
    color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

a {
    cursor: pointer;
}

#game-map {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 1200px;
}

#header {
    align-items: center;
    column-gap: 10px;
    column-gap: 20px;
    display: grid;
    font-size: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5%;
    text-transform: uppercase;
    width: 100%;
}

#control-btns {
    display: flex;

    button:not(:first-child) {
        margin-left: 5px;
    }
}

#canvas {
    border: 2px solid $cyan;
    margin-top: 5px;
}

#container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);
    margin: 0 auto;
    outline: 1px solid $cyan;
    position: relative;
    width: 1100px;
}

#score span:nth-child(2) {
    color: $cyan;
    display: inline-block;
    min-width: 100px;
    text-align: center;
}

#earth {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#invader-column-list {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
}

.invader-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: $col-width;
}

.invader {
    @include base-ship;

    background:
        url('https://i.postimg.cc/NjQ4VKPY/invader.gif') center
        center/cover no-repeat;
    margin-top: 10px;
    position: relative;
}

#player-zone {
    height: $ship-height;
    width: 100%;
}

#player {
    @include base-ship;

    background:
        url('https://i.postimg.cc/m2Yj8Yj8/player.png') center
        center/cover no-repeat;
    bottom: 0;
    left: 499px;
    position: absolute;
}

#gun {
    height: 100%;
    position: relative;
    width: 100%;
}

.bullet {
    background: white;
    height: 20px;
    position: absolute;
    width: 6px;
    z-index: 999;
}

#lives {
    display: flex;
    flex: 1;
}

#lives-list {
    display: flex;
}

.life {
    background:
        url('https://i.postimg.cc/m2Yj8Yj8/player.png') center
        center/contain no-repeat;
    height: 30px;
    margin-left: 10px;
    width: 40px;
}

#btn-group {
    column-gap: 10px;
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 10px;
}

.btn {
    background: 0;
    border: 2px solid $cyan;
    border-radius: 3px;
    color: $cyan;
    cursor: pointer;
    font-weight: 600;
    height: 50px;
    min-width: 100px;
    text-transform: uppercase;
    width: 100%;

    &:hover {
        background: $cyan;
        color: $black;
    }
}

#instructions__movement {
    align-items: center;
    display: flex;
    font-size: 25px;
    justify-content: center;
}

.instructions__key {
    &--down {
        display: flex;
        flex-direction: column;
    }
}

#menu {
    align-self: center;
    text-align: center;
}

.menu__gif {
    background:
        url('https://i.postimg.cc/NjQ4VKPY/invader.gif') center
        center/contain no-repeat;
    height: 150px;
    margin: 0 auto;

    @media (max-width: 375px) {
        height: 75px;
    }
}

.menu__title {
    color: $cyan;
    font-size: 6.5vw;
    text-shadow: 5px 5px white;
    text-transform: uppercase;
}

.difficulty__title {
    color: $cyan;
    font-size: 2vw;
    margin: 40px 0;
    text-transform: uppercase;
}

.menu__difficulty-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.menu__difficulty-list {
    display: flex;
    flex-direction: column;
}

.menu__difficulty {
    display: inline-block;
    font-size: 1.5vw;
    margin: 10px 0;
    text-transform: uppercase;

    &:hover {
        color: $cyan;
    }
}

#game-over {
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.game-over__inner {
    align-items: center;
    border: 2px solid $cyan;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 20% auto;
    padding: 25px;
    text-align: center;
    width: 375px;

    button {
        margin-top: 15px;
        width: 100px;
    }
}
